<h2>company index</h2>
<div class="edit-ajax"></div>
<table class="table table-bordered" >
  <tr>
    <th>Company Name</th>
    <th>Company Location</th>
    <th>Image</th>
    <th colspan="3",  id="hideDemo">Actions</th>
  </tr>
  <%= render @companies%>
</table>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <%= link_to "Add New Company" , new_company_path, :class=>"btn btn-primary btn-lg active" %>
    <%= link_to "Back", root_path , :class=>"btn btn-primary btn-lg active" %>
    <%= will_paginate @companies %>
  </div>
</div>
