<div class="container">
  <div class="well">
    <%= link_to "New Post", new_post_path, remote: true, class: "btn btn-primary new-post" %>
    <%= link_to "Back", root_path , :class=>"btn btn-primary" %>
  </div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Body</th>
        <th colspan="2" style="text-align:center">Actions</th>
      </tr>
    </thead>
    <tbody class="post-index">
      <%= render "index" %>
    </tbody>
  </table>
</div>
<div id="post-modal" class="modal fade"></div>